code {
	background-color: #eee;
	display: inline-block;
	padding: 4px;
}

.main {
	padding: 4px;
}

.m-1 {
	margin: 1px;
}

.m-2 {
	margin: 2px;
}

.m-4 {
	margin: 4px;
}

.p-1 {
	padding: 1px;
}

.p-2 {
	padding: 2px;
}

.p-4 {
	padding: 4px;
}
