code.block {
	background-color: #eee;
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
	padding: 12px;
}

.main {
	border-left: solid 2px #333;
	border-right: solid 2px #333;
	margin: 0 auto;
	max-width: 900px;
	min-height: 100vh;
	padding: 4px;
}

.m-1 {
	margin: 1px;
}

.m-2 {
	margin: 2px;
}

.m-4 {
	margin: 4px;
}

.p-1 {
	padding: 1px;
}

.p-2 {
	padding: 2px;
}

.p-4 {
	padding: 4px;
}
